@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700');


*   ------------------------------------------Reset CSS ------------------------------------------------------  */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*   ------------------------------------------End of Reset CSS ------------------------------------------------------  */



/*   ------------------------------------------ custom CSS ------------------------------------------------------  */

body {
  background: #c1bdba;
  font-family: 'Titillium Web', sans-serif;
}

.form {
  background:#13232f;
  padding: 40px;
  max-width:600px;
  min-height: 550px;
  margin:40px auto;
  border-radius:5px;
  box-shadow:0 4px 10px 4px #13232f;
}

.form ul {
  margin:0 0 80px 0;
  padding: 0;
}


.form li a:hover, .form ul .active a{
    background-color:#1ab188;
    color:#fff;
  }

.form li a {
	text-decoration:none;
	padding:15px;
	background:rgba(66,83,90,0.5);
	color:rgba(123,137,148,0.8);
	font-size:20px;
	float:left;
	width:50%;
	text-align:center;
	transition:.5s ease;
}

.sign {
  font-size: 30px;
  color:#fff;
  font-weight: 300;
  margin:0 0 40px;
}

label{
  visibility: hidden;
  height: 0;
  width: 0;
}

.form-control{
  font-size:22px;
  padding:20px 10px;
  background:transparent;
  border:1px solid #a0b3b0;
  color:#fff;
  border-radius:0;
  margin-bottom: 20px;
}
.logbtn{
  width: 100%; 
  font-size: 25px; 
  padding:3% 0% 3% 0%;    
  color: white;
  background-color: #1AB188;
  font-weight: bold;
  border: none;
  margin-top: 10px;
}

.logbtn:hover, .logbtn:active
{
	background:#095a44;
}
.forgot {
  margin-top:10px;
  text-align:right;
}
.forgot a{
	background-color: transparent;
  color: white;
}

@media only screen and (max-width : 700px) {
  .form{margin: 10px 20px; min-height: 600px;}
}


/*   ------------------------------------------ End of custom CSS ------------------------------------------------------  */

