body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px; }

h1 {
  font-weight: bold; }

.thumbnails div {
  height: 220px;
  margin-bottom: 5%; }

.thumbnails span {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 6px 10px 6px 20px;
  margin: 15px 0px;
  color: #ffffff;
  background: #000000;
  text-decoration: none;
  text-align: center;
  opacity: 0.8;
  text-transform: uppercase; }
  
#beginner span, #inter span{
    width: 95%;
    margin-left: 2%;}

a {
  text-decoration: none; }
  a:hover, a:focus, a:active, a:visited {
    text-decoration: none; }
span a {
  width: 50%;
  color: white; }
span a:hover {
  color: white;
  font-weight: bold; }

.img-responsive:hover{ box-shadow: 0 35px 15px 0 grey; margin-top: -12px;}
.img-responsive{height:200px; margin: 0 auto; transition: margin-top .4s ease;}

.developers a {
  color: grey;
  padding-right: 100px; }
.developers a:after {
  content: '';
  display: block;
  border-bottom: 1px solid black;
  width: 0;
  position: absolute;
  -webkit-transition: 1s ease;
  transition: 1s ease; }

.active {
  border-bottom: 1px solid #d3d3d3; }

.developers a:hover:after {
  width: 60%; }

.developers li {
  padding-top: 8%;
  margin-right: 20%;
  text-transform: uppercase; }

.thumbnail-container {
  display: inline-block;
  overflow: hidden;
  position: relative; }
  .thumbnail-container::before {
    position: absolute;
    opacity: 0.2;
    display: block;
    -ms-zoom: 2;
    -moz-transform: scale(2);
    -webkit-transform: scale(2); }

.thumbnail {
  -ms-zoom: 0.25;
  -moz-transform: scale(0.25);
  -moz-transform-origin: 0 0;
  -webkit-transform: scale(0.25);
  -webkit-transform-origin: 0 0;
  width: 201%;
  height: 835px; }
  .thumbnail iframe {
    width: 201%;
    height: 835px;
    opacity: 0;
    transition: all 300ms ease-in-out; }
  .thumbnail:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 200%;
    height: 850px; }

a .gitlogo {
  width: 30%;
  margin-right: 45%; }